name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo codigo
        uses: actions/checkout@v4.2.2
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Construcao e envio da imagem Docker
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: | 
            eduardolfl/fake-shop-desafio:v${{ github.run_number }}
            eduardolfl/fake-shop-desafio
  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo codigo
        uses: actions/checkout@v4.2.2
      - name: Configurando o kubeconfig
        - uses: azure/k8s-set-context@v4
          with:
            method: kubeconfig
            kubeconfig: ${{ secrets.K8S_KUBECONFIG }}
      - name: Deploy to Kubernetes cluster
      - uses: Azure/k8s-deploy@v5
        with:
          manifests: |
              ./deployment.yaml
          images: |
            eduardolfl/fake-shop-desafio:v${{ github.run_number }}

